/* Estilos generales */
/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
  } */
  
  
  /* .navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  } */
  
  /* .navbar-nav {
    display: flex;
    flex-direction: row;
    
  } */
  
  .nav-button {
    font-size: 1.2rem;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
  }
  
  .nav-button:hover {
    background-color: #efc75e;
    color: black;
  }
  
  .nav-item {
    margin-right: 20px; /* Ajusta este valor para incrementar la separación */
  }
  
  .dropdown-item:hover {
    background-color: #efc75e;
  }
  
  @media (max-width: 1024px) {
    .navbar-collapse {
      margin-left: 20rem;
    }
  }
  
  @media (max-width: 768px) {
    .navbar-collapse {
      margin-left: 0 !important;
    }
  
    .navbar-nav {
      width: 100%;
    }
  
    .nav-item {
      padding: 10px 0;
      width: 100%;
      text-align: center;
      margin-right: 0; /* Reset margin in small screens */
    }
  
    .dropdown-menu {
      position: static;
      float: none;
    }
  }
  
  @media (min-width: 769px) {
    .navbar-collapse {
      display: flex !important;
      margin-left: 0 !important;
    }
  }
  
  @media (max-width: 480px) {
    .navbar-toggle {
      display: block;
    }
  
    .navbar-collapse {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: black;
    }
  
    .navbar-collapse.open {
      display: flex;
    }
  
    .navbar-brand {
      margin-left: 10px;
    }
  
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  
    .nav-item {
      padding: 5px 10px;
      width: 100%;
      margin-right: 0; /* Reset margin in small screens */
    }
  
    .dropdown-menu {
      display: none;
    }
  
    .dropdown-menu.show {
      display: block;
      width: 100%;
    }
  
    .avatar-image {
      margin-left: 176px;
    }
  }
  
  @media (min-width: 481px) {
    .navbar-toggle {
      display: none;
    }
  
    .navbar-collapse {
      display: flex;
    }
  }
  